<!doctype html>
<html lang="en">
  <head>
    <title>{{.Title}}</title>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- tailwind + daisyui -->
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@2.6.0/dist/full.css"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- htmx -->
    <script
      src="https://unpkg.com/htmx.org@1.9.6"
      integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni"
      crossorigin="anonymous"
    ></script>

    <!-- hyperscript -->
    <script src="https://unpkg.com/hyperscript.org@0.9.11"></script>
  </head>

  <body id="app" class="container mx-auto" _='{{template "partials/hot-reload" .}}'>
    {{template "partials/header" .}}

    <main class="p-8">{{embed}}</main>

    {{template "partials/footer" .}}
  </body>
</html>
