    <div class="my-[15vh] items-center flex flex-col gap-4">
      <div class="items-center justify-center flex flex-col gap-4">
        <h1 class="text-9xl font-extrabold text(dark:gray-100 gray-700) tracking-widest">
          404
        </h1>
        <h2 class="bg-pink-500 px-2 text-sm rounded rotate-12 absolute">
          Page not found
        </h2>
      </div>
      <p class="text-sm text-gray-400" _="on load put the location of the window into loc then put `The page '${loc}' doesn't exists` into me">This page doesn't exists</p>

      <a href="/" class="btn btn-outline text-pink-400 hover:text-white hover:bg-pink-400">
        Go Home
      </a>
    </div>
