<div
  class="flex gap-10 my-8 flex-col items-center text-center xl:my-16 2xl:my-32"
>
  <div class="flex gap-2 flex-col">
    <img
      alt="It's Me"
      src="https://avatars.githubusercontent.com/u/4452113?v=4"
      class="h-40 mx-auto rounded-full"
    />
    <div class="text-3xl font-light">Marco Antônio</div>
  </div>
  <div class="text-md opacity-70 px-10 font-extralight sm:px-20 md:px-32">
    💻
    <a class="text-pink-400" target="blank" href="https://tremtec.com/"
      >@tremtec</a
    >
    Co-founder, 👨🏽&zwj;🏫 career mentor at
    <a class="text-pink-400" target="blank" href="https://podcodar.com/"
      >@podcodar</a
    >, 🐈 proud cat daddy
  </div>
  <div class="gap-8 grid w-full grid-cols-1 sm:mx-20 sm:grid-cols-2">
    <a
      href="{{.PrimaryBtn}}"
      class="btn btn-outline text-pink-400 hover:text-white hover:bg-pink-400"
    >
      Let's have a Coffee ☕️
    </a>
    <a href="{{.SecondaryBtn}}" class="btn btn-outline">Resume</a>
  </div>
</div>
